<div class="post">
	<div class="header">
		<h1>Post title</h1>

		<button routerLink="/" class="btn btn-link">To main page</button>
	</div>

	<div class="info">
		<strong>Here is author</strong>
		<small>12/09/2021</small>
	</div>

	<div>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias
			architecto debitis dolor dolore error ex sapiente sequi similique
			tenetur? Assumenda corporis dolore dolorem eius eos quis
			reprehenderit tempora? Amet eos illo, obcaecati quam quibusdam
			reprehenderit sequi voluptatem! Amet, atque eius explicabo facilis
			numquam porro tempora. Accusamus accusantium aspernatur maiores.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias
			architecto debitis dolor dolore error ex sapiente sequi similique
			tenetur? Assumenda corporis dolore dolorem eius eos quis
			reprehenderit tempora? Amet eos illo, obcaecati quam quibusdam
			reprehenderit sequi voluptatem! Amet, atque eius explicabo facilis
			numquam porro tempora. Accusamus accusantium aspernatur maiores.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias
			architecto debitis dolor dolore error ex sapiente sequi similique
			tenetur? Assumenda corporis dolore dolorem eius eos quis
			reprehenderit tempora? Amet eos illo, obcaecati quam quibusdam
			reprehenderit sequi voluptatem! Amet, atque eius explicabo facilis
			numquam porro tempora. Accusamus accusantium aspernatur maiores.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias
			architecto debitis dolor dolore error ex sapiente sequi similique
			tenetur? Assumenda corporis dolore dolorem eius eos quis
			reprehenderit tempora? Amet eos illo, obcaecati quam quibusdam
			reprehenderit sequi voluptatem! Amet, atque eius explicabo facilis
			numquam porro tempora. Accusamus accusantium aspernatur maiores.
		</p>
	</div>
</div>
