$primary-color: #dc3545 !default;
$dark-color: #333333 !default;
$light-color: #f4f4f4 !default;
$color-light-gray: #cccccc !default;;
$color-dark-gray: #888888 !default;;
$color-darker-gray: #666666 !default;
$color-white: #ffffff !default;
$danger-color: #dc3545 !default;
$danger-color-hover: #bb1e2e !default;
$color-black: #000000 !default;
$success-color: #28a745 !default;

:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

$transition-duration: 0.2s !default;

$font-family-base: 'Roboto', sans-serif !default;;

$line-height-base: 1.5;
